/*

KEY
---

*/

.key {
	overflow: hidden;

	span {
		display: block;
		margin: 0.5em 0;
		padding-left: 1.5em;
		position: relative;

		@include bp(tablet) {
			display: inline-block;
			margin: 1em;

			&:first-child {
				margin-left: 0;
			}
		}

		&:before {
			content: '';
			height: 16px;
			left: 0;
			margin-top: -10px;
			position: absolute;
			top: 50%;
			width: 16px;
		}
	}

	@include bp(desktop) {
		.btn--delete {
			float: right;
			margin-right: 1em;
			margin-top: 1em;
		}
	}
}

.key__completed {
	&:before {
		background: $completed-task;
	}
}

.key__progress {
	&:before {
		background: $inprogress-task;
	}
}

.key__notcompleted {
	&:before {
		background: $notcompleted-task;
	}
}