/*

PAGINATION
----------

*/

.pagination {
	list-style: none;
	padding: 0;
	text-align: center;

	@include bp(tablet) {
		margin-right: 1em;
		text-align: right;
	}

	li {
		display: inline-block;
		letter-spacing: normal;
		margin: 0 0.25em;
		vertical-align: middle;
	}
}

.pagination__link {
	color: $base-font-colour;
	display: block;
	text-decoration: none;

	&:hover,
	&:focus {
		color: darken($base-font-colour, 10%);
	}
}

.pagination__link--active {
	color: $brand-colour;
}