/*

TABS
----

*/

.tabs {
	letter-spacing: -0.32em;
	list-style: none;
	margin: 0;
	padding: 0;
}

.tabs__item {
	background: lighten(#DEDEDD, 10%);
	border: 1px solid #DEDEDD;
	border-bottom: none;
	cursor: pointer;
	display: inline-block;
	letter-spacing: normal;
	margin: 0 0.25em;
	padding: 0.5em;
	position: relative;
	top: 1px;
	vertical-align: middle;
	z-index: 1;

	@include border-radius(0.25em 0.25em 0 0);

	&:first-child {
		margin-left: 0;
	}

	@include bp(tablet) {
		padding: 0.5em 1em;
	}
}

.tabs__item--active {
	background: #FFF;
	border-bottom: 1px solid #FFF;
}

.tabs-content {
	border: 1px solid #DEDEDD;
	overflow: hidden;
	padding: 1em 0.5em;

	@include border-radius(0 0.375em 0.375em 0.375em);
	@include box-shadow(1px 2px 1px #DEDEDD);
}