/*

IMAGE UPLOADER
--------------

*/

.image-upload {
	padding: 1em;
}

.image-upload__area {
	display: block;
	margin: 0;
	position: relative;
	text-align: center;

	i {
		border: 2px dashed #DEDEDD;
		color: #DEDEDD;
		display: inline-block;
		font-size: 4em;
		vertical-align: middle;
	}

	img {
		border: 2px dashed #DEDEDD;
		display: block;
		margin: auto;
		max-width: 100%;
	}
}

.image-upload__buttons {
	position: relative;
	
	@include bp(tablet) {
		margin: 0;
		max-width: 319px;
	}

	.btn {
		display: block;
		height: 40px;
		line-height: 40px;
		margin: 1em 0 0;
		width: 100%;

		@include bp(desktop) {
			display: inline-block;
			padding: 0;
			width: 48%;
		}
	}

	.btn--upload {
		@include bp(desktop) {
			display: block;
			margin: 1.25em 0 0.25em;
			width: 100%;
		}
	}

	.btn--save {
		@include bp(desktop) {
			float: right;
		}
	}
}