.login-holder {
	height: 100%;
	position: relative;
	width: 100%;
}

.login {
	display: block;
	margin-top: 32px;
	letter-spacing: normal;	
	padding: 0.4em;
	text-align: center;

	.ie8 & {
		margin-top: 150px;
		top: 0;
	}

	@include bp(tablet) {
		left: 50%;
		margin-left: -275px;
		margin-top: -102px;
		position: absolute;
		top: 30%;
		width: 550px;

		.form__input--login {
			margin: auto;
			width: 60%;
		}

	}

	.form__text {
		margin-bottom: 0.6em;
	}

	.form__label {	
		display: block !important;
		margin: 1em auto;
		text-align: left;
		width: 60%;
	}
}

.login__logo {
	@include img-replace;

	background: url("../images/login-company-logo.png") no-repeat;
	height: 80px;
	width: 148px;
	margin: 0 auto;
	margin-bottom: 1em;

	@include retina {
		background: url("../images/retina/login-company-logo_2x.png") no-repeat;
		background-size: 100%;
	}
}

.btn--login {
	width: 100%;
	@include bp(tablet) {
		width: 60%;
	}
}

.login__forgotten-prompt {
	cursor: pointer; 

	&:hover {
		color: $brand-colour;
	}
}

.alert--login-alert {
	margin: 0 auto 0.5em !important;
	display: none;

	@include bp(tablet) {
		width: 60%;
	}
}

.forgotten-password {
	display: none;
}

