/*

NAVIGATION
----------

*/

/* Main navigation holder */
.nav {
	background: $nav-colour;
	//border-left: 4px solid $header-colour;
	display: none;
	position: relative;
	width: 100%;

	@include bp(tablet) {
		display: inline-block;
		height: 100%;
		letter-spacing: normal;
		vertical-align: top;
		width: auto;
	}
}

/* Navigation links holder */
.nav-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* Navigation links */
.nav-list__links {
	&:first-child {
		a {
			border-top: none;
		}	
	}

	/* Links */
	a {
		//border-top: 1px solid $header-colour;
		color: $nav-font-colour;
		display: block;
		font-size: 1.125em;
		padding: 0;
		position: relative;
		text-decoration: none;

		@include transition;

		@include bp(tablet) {
			font-size: 1em;
			line-height: 1.5;
			//padding-right: 1em;
		}

		span {
			padding: 0 2em 0 0;

			@include bp(tablet) {
				//display: none;
				margin-left: -0.625em;
			}
		}
	}
}

/* Icons before the link */
.nav-list__icon {
	line-height: 2em;
	font-size: 1.25em;
	text-align: center;
	width: 2em;

	@include bp(tablet) {
		line-height: 2.75em;
		font-size: 1.5em;
		width: 2.75em;
	}
}

/* Icons before the link */
.nav-list__dd-icon {
	margin-top: -7px;
	position: absolute;
	right: 8px;
	top: 50%;

	@include bp(tablet) {
		margin-top: -5px;
	}
}

.nav-list__dashboard {
	background: $nav-dashboard-bg;
	border-bottom: 3px solid darken($nav-dashboard-bg, 10%);

	&:hover,
	&:focus {
		background: darken($nav-dashboard-bg, 10%);
		border-bottom: 3px solid $nav-dashboard-bg;
	}
}

.nav-list__item1 {
	background: $nav-item1-bg;
	border-bottom: 3px solid darken($nav-item1-bg, 10%);

	&:hover,
	&:focus {
		background: darken($nav-item1-bg, 10%);
		border-bottom: 3px solid $nav-item1-bg;
	}
}

.nav-list__item2 {
	background: $nav-item2-bg;
	border-bottom: 3px solid darken($nav-item2-bg, 10%);

	&:hover,
	&:focus {
		background: darken($nav-item2-bg, 10%);
		border-bottom: 3px solid $nav-item2-bg;
	}
}

.nav-list__item3 {
	background: $nav-item3-bg;
	border-bottom: 3px solid darken($nav-item3-bg, 10%);

	&:hover,
	&:focus {
		background: darken($nav-item3-bg, 10%);
		border-bottom: 3px solid $nav-item3-bg;
	}
}

.nav-list__item4 {
	background: $nav-item4-bg;
	border-bottom: 3px solid darken($nav-item4-bg, 10%);

	&:hover,
	&:focus {
		background: darken($nav-item4-bg, 10%);
		border-bottom: 3px solid $nav-item4-bg;
	}
}

.nav-list__item5 {
	background: $nav-item5-bg;
	border-bottom: 3px solid darken($nav-item5-bg, 10%);

	&:hover,
	&:focus {
		background: darken($nav-item5-bg, 10%);
		border-bottom: 3px solid $nav-item5-bg;
	}
}

.nav-list__item6 {
	background: $nav-item6-bg;
	border-bottom: 3px solid darken($nav-item6-bg, 10%);

	&:hover,
	&:focus {
		background: darken($nav-item6-bg, 10%);
		border-bottom: 3px solid $nav-item6-bg;
	}
}

/* Sub nav */

.subnav-list {
	background: $subnav-bg-colour;
	border-bottom: 3px solid darken($subnav-bg-colour, 10%);
	list-style: none;
	padding: 0;

	@include bp(tablet) {
		display: none;
	}
}

.subnav-list__link {
	border-top: 1px solid darken($subnav-bg-colour, 10%);

	&:first-child {
		border-top: none;
	}

	a {
		color: $base-font-colour;
		font-size: 0.875em;
		padding: 1em 0.75em;
		padding-left: 2.5em;

		&:hover,
		&:focus {
			background: darken($subnav-bg-colour, 5%);
		}

		@include bp(tablet) {
			padding: 1em 0.75em;
		}
	}
}

@if ($nav-fixed) == true {
	.nav {
		position: relative;
		//top: 57px;
		z-index: 1;

		@include bp(tablet) {
			display: inline-block;
			position: fixed;
			top: 0;
			//top: 62px;
			width: inherit;

			.nav-list {
				margin-top: $header-height;
			}
		}
	}
}