/*

ORDERS - PRODUCT LISTING

*/

.product {
	border-top: 1px solid #C2C2C2;
	overflow: hidden;
	padding: 1em 0;

	&:first-child {
		border-top: none;
		padding-top: 0;
	}

	img {
		display: block;
		margin: 1em auto;

		@include bp(tablet) {
			float: left;
			margin: 0 1em 0 0;
			max-width: 120px;
		}
	}
}

.product-info {
	margin: 0;
	overflow: hidden;

	p {
		margin: 0.125em 0;
	}

	.product-info__title {
		font-weight: bold;
		text-decoration: underline;
	}

	.product-info__condition {
		background: #FFD400;
		color: #000;
		display: inline-block;
		font-style: italic;
		padding: 0 0.75em;

		@include border-radius(0.375em);
	}

	dt,
	dd {
		margin: 0;
	}

	dt {
		@include bp(tablet) {
			float: left;
		}
	}

	dd {
		@include bp(tablet) {
			float: right;
		}	
	}
}